html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(19, 19, 19);
}
canvas {
  display: block;
}

#cont{
  display: flex;
  flex-direction: column;
  width:80vw;
  height: 100vh;
  margin-left: 25vh;
}

#info{
  width: 80%;
  height: 12vh;
  font-size: 7.5vh;
  text-align: left;
  letter-spacing: 1.5vh;
  line-height: 82%;
  margin-top: 1vh;
  margin-bottom: 1.5vh;
  color: white;
}

#content{
  display: flex;
  flex-direction: row;
  gap: 7vh;
}

#c{
  width: 80vh;
  height: 80vh;
}

#tag{
  align-self:flex-end;
  font-family: sans-serif;
  color: rgb(148, 147, 147);
}